<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>show page</title>
  </head>
  <body>

    <% items.forEach(item => { %>
<table>


        <tr>
          <!-- 1 -->
          <th>
            <h3>Product</h3>
          </th>
        <td>
      :
        </td>

          <th>

            <h3>Location</h3>
          </th>
          <td>
          :
          </td>
        </tr>
        <tr>
          <!-- 2 -->
          <th>Product</th>
          <td><%= item.item.product %></td>

          <th>Floor</th>
          <td><%= item.item.floor %></td>

        </tr>
        <tr>
          <!-- 3 -->
          <th>Brand</th>
          <td><%= item.item.brand %></td>



          <th>Shelf</th>
          <td><%= item.item.shelf %></td>

        </tr>
        <tr>
          <!-- 4 -->
          <th>Model</th>
          <td><%= item.item.name %> </td>

          <th>level</th>
          <td><%= item.item.level %></td>

        </tr>
        <tr>
          <!-- 5 -->
          <th>Quantity</th>
          <td><%= item.item.quantity %></td>

          <th>Barcode:</th>
          <td><%= item.item.barcode %></td>
        </tr>
        <tr>
            <th>Comment:</th>
            <td><%=item.comment%></td>
        </tr>

        <tr>
          <td>
          <form action="/delete" method="post">
            <button type="submit" name="delete" value=<%=item.item._id%>>Delete</button>

          </form>
         </td>
        </tr>
    <!-- //////////////////////////////////////////////////// -->

          <!-- 6 -->


        </table>
      <% }); %>




  </body>
</html>
