<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Edit page</title>
  </head>
  <body>
    <table>
      <tr>
        <th>Product</th>
        <th>Brand</th>
        <th>Model</th>
        <th>Amount</th>

      </tr>
      <tr>

        <td><%= item.product %></td>
        <td><%= item.brand %></td>
        <td><%= item.model %> </td>
        <td><%= item.amount %></td>

        </tr>
        <tr>
  <form  action="/update" method="post">

          <td><input type="text" name="product" placeholder="Change product"></td>
          <td><input type="text" name="brand" placeholder="Change brand's name"></td>
          <td><input type="text" name="model" placeholder="Change model's name"> </td>
          <td><input type="text" name="amount"  placeholder="Change amount"></td>
          <td><button type="submit" name="submit" >Edit values</button></td>
            <input type="hidden" name="id" value=<%= item._id%>>
        </form>
          </tr>
      </table>
  </body>
</html>
