<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>show page</title>
  </head>
  <body>


    <body>
      <h1> Show All Items </h1>


    <table>
      <tr>
        <th>Services:</th>
      </tr>
      <tr>
        <td>
          <button type="button" name="button">
            <a href="/">Add item</a>
          </button>
        </td>
        <td>
          <button type="button" name="button">
            <a href="/search">search</a>
          </button>
        </td>

      </tr>
    </table>

    <% items.forEach(item => { %>
<table>


        <tr>
          <!-- 1 -->
          <th>
            <h3>Product</h3>
          </th>
        <td>
      :
        </td>

          <th>

            <h3>Location</h3>
          </th>
          <td>
          :
          </td>
        </tr>
        <tr>
          <!-- 2 -->
          <th>Product</th>
          <td><%= item.product %></td>

          <th>Floor</th>
          <td><%= item.floor %></td>

        </tr>
        <tr>
          <!-- 3 -->
          <th>Brand</th>
          <td><%= item.brand %></td>



          <th>Shelf</th>
          <td><%= item.shelf %></td>

        </tr>
        <tr>
          <!-- 4 -->
          <th>Model</th>
          <td><%= item.name %> </td>

          <th>level</th>
          <td><%= item.level %></td>

        </tr>
        <tr>
          <!-- 5 -->
          <th>Quantity</th>
          <td><%= item.quantity %></td>

          <th>Barcode:</th>
          <td><%= item.barcode %></td>
        </tr>

        <tr>
          <form action="/delete" method="post">
          <td>
            <button type="submit" name="delete" value=<%=item._id%>>Delete</button>
            <input type="hidden" name="type" value="validation">
          </td>
          <td>

            <input type="Delete comment" name="comment" placeholder="Delete Comment">
          </td>
          </form>
          <td>


          <form action="/edit" method="get">
            <button type="submit" name="edit" value=<%=item._id%>>Edit infos</button>

          </form> </td>
        </tr>
    <!-- //////////////////////////////////////////////////// -->

          <!-- 6 -->


        </table>
      <% }); %>



    </p>
  </body>
</html>
